<html>
    <head>
        <title>Complex Calculator</title>
    </head>
    <body>
        <form action="\answer" method="GET">
            <div class="container">
                <h1>This is a complex calculator web-app</h1>
                <p>Please enter the expression below with space seperated</p>
                <hr>
                <label><b>Expression</b></label>
                <input type="text" placeholder="Enter expression" name="expr" required>
                <hr>
                <button type="submit" class="button">Evaluate</button>
            </div>
        </form>
    </body>
</html>